<template>
    <button class="button is-primary" @click="onClickButton()">Submit</button>
</template>

<script>
export default {
  name: 'form-submit',
  data () {
    return {
      form: new Errors()
    }
  },
  methods: {
      onClickButton: function( event ) {

        let self = this;
        console.log(window.formData);
        console.log(window.validated);

        if( window.validated ) {
          Object.keys( window.validated ).forEach( function ( key ) {

             self.form.validateSubmit(window.validated[key].validate, key);

          });
        }

      }
    }
}
</script>
