<template>
<div id="app">
  <nav class="navbar fixed is-hidden-mobile" role="navigation" aria-label="main navigation">
    <!-- form Progress Component -->
    <form-progress v-bind:step="this.step" v-bind:totalSteps="this.totalSteps"></form-progress>
  </nav>

  <div class="container">

    <div class="column is-half is-offset-one-quarter">
      <form v-on:submit.prevent>
        <div step="1" v-bind:class="{ 'hidden': step != 1 }">
          <h1 class="title is-4">Personal Details</h1>
          <h2 class="subtitle">Please enter your details as they appear on official documentation</h2>

          <form-input name="first_name" label="First name" validate="required"></form-input>
          <form-input name="middle_name" label="Middle name"></form-input>
          <form-input name="last_name" label="Last name" validate="required"></form-input>
          <form-input name="dob" label="Date of birth" validate="required" fieldType="dob"></form-input>

          <h5 class="title is-5">Current Address</h5>
          <form-input name="address_1" label="Address 1" validate="required"></form-input>
          <form-input name="address_2" label="Address 2 (optional)"></form-input>
          <form-input name="city" label="City" validate="required"></form-input>
          <form-input name="state" label="State / County (optional)"></form-input>

          <form-input name="post_code" label="Post Code / Zip" validate="required"></form-input>

          <form-select name="country_select" label="Select Country" v-bind:options="[
            { text: 'United Kingdom', value: 'uk' },
            { text: 'United States', value: 'us' },
            { text: 'Germany', value: 'de' }
            ]">
          </form-select>
          <form-input name="email" label="Email Address" validate="validEmail"></form-input>
          <form-input name="phone" label="Phone Number" validate="required"></form-input>

          <form-select name="nationality" label="Nationality" validate="required" v-bind:options="[
            { text: 'British', value: 'uk' },
            { text: 'American', value: 'us' },
            { text: 'German', value: 'de' }
            ]">
          </form-select>

        </div>
        <!-- end Step -->

        <div step="2" v-bind:class="{ 'hidden': step != 2 }">
          <h1 class="title is-4">Account Usage</h1>
          <h2 class="subtitle">Please tell us how you will use your account. We are obliged to ask these questions according to anti-money laundering regulations</h2>
          <form-input name="payments_per_month" label="Estimated number of payments per month" validate="required"></form-input>
          <form-input name="average_payment_value" label="Average amount of each payment (GBP)" validate="required"></form-input>
        </div>
        <!-- end Step -->

        <div step="3" v-bind:class="{ 'hidden': step != 3 }">
          <h1 class="title is-4">Account Usage</h1>
          <h2 class="subtitle">Please tell us how you will use your account. We are obliged to ask these questions according to anti-money laundering regulations</h2>
          <form-input name="email" label="Email Address" validate="validEmail"></form-input>
          <form-input name="phone" label="Phone Number" validate="required"></form-input>
          <form-input name="payments_per_month" label="Estimated number of payments per month" validate="required"></form-input>
          <form-input name="average_payment_value" label="Average amount of each payment (GBP)" validate="required"></form-input>
        </div>
        <!-- end Step -->

        <hr/>

        <!-- Next and Previous Buttons -->
        <button class="button is-info pull-left" v-if="this.step != 1" @click="prevStep()">Previous</button>
        <button class="button is-info pull-right" v-if="this.step != this.totalSteps" @click="nextStep()">Next</button>
        <!-- Form Submit Button -->
        <form-submit @input-data="onClickChild" v-if="this.step === this.totalSteps" class="pull-right"></form-submit>

      </form>
    </div>
  </div>
</div>
</template>

<script>
// Import Individual Form Components
// These only need to be included once
import FormProgress   from './components/FormProgress'
import FormInput      from './components/FormInput'
import FormSelect     from './components/FormSelect'
import FormSubmit     from './components/FormSubmit'

export default {
  name: 'app',
  data() {
    return {
      step: 1, // you dont need to adjust this var
      totalSteps: 3 // if you add a new step incement this number
    }
  },
  // declare the components we're using
  components: {
    FormProgress,
    FormInput,
    FormSelect,
    FormSubmit
  },

  methods: {
    // calulate the next step
    nextStep: function() {
      this.step = this.step + 1;
    },
    // calulate previous step
    prevStep: function() {
      this.step = this.step - 1;
    }
  }
}
</script>

<style>

html {
  background: #efefef;
  padding: 150px 0;
}

.navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 0px;
}

.hidden {
  display: none;
}
</style>
